<p>
  投稿日：<%= game_comment.created_at.strftime('%Y/%m/%d') %> |
  <% if game_comment.user == current_user || admin_signed_in? %>
    <%= link_to public_game_comment_path(@game.id , game_comment.id), method: :delete, class: "btn btn-sm btn-danger", remote: true do %>
        コメント削除 <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
</p>