<div class="average-comment-rating" data-score=<%= average_rate %>></div>
<script>
  $('.average-comment-rating').empty();  // 下記だけでは星がいくつも表示されてしまうので一度空にする
  $('.average-comment-rating').raty({    // 上記で出した平均値を星に反映させる
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>